name: publish

on:
  push:
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }} # per [workflow] x [branch, tag]
  cancel-in-progress: true #  cancel workflows for non-latest commits

jobs:
  test:
    uses: ./.github/workflows/.test.yml
    with:
      aws-region: us-east-1
    secrets:
      aws-access-key-id: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}

  publish:
    uses: ./.github/workflows/.publish-npm.yml
    needs: [test]
    secrets:
      npm-auth-token: ${{ secrets.NPM_TOKEN }}
